<!DOCTYPE html>

<html>
    <head>
        <title> KadaCraft </title> 
        <link rel="stylesheet" href="../css/HomeStyle.css"> 
        <link rel="stylesheet" href="../css/Character.css"> 
        <link rel="stylesheet" href="../css/ResolutionCompatible.css"> 
        <link type="text/css" rel="stylesheet" href="../css/Font.css">
        <link rel="icon" type="image/png" href="../image/kadacraft_weblogo.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../js/Home.js"></script>
        <script src="../js/Members.js" defer></script>
        <!--<script src="../js/YouTubeApi.js"></script>-->
    </head>

    <body>

         <script>
            $(document).ready(function(){
                //checkCache();
            });
        </script>

        <div class = "banner" id="top"> 
            <div class="navbar">
                <a class="facebook-btn" style="position:relative; left: 5em; cursor: pointer;" title="Facebook Group"><img src="../image/facebook_logo.png" class="facebook-img" id="facebook-links"></a>
                <div id="tooltip" style="position: relative; display: flex;">
                    <div id="tooltip-text" style="display: none"> 
                        <a href="https://www.facebook.com/groups/KadaCraft" id="button-1" target="_blank"> <button> </button> </a>
                        <a href="https://www.facebook.com/KadaCraftSMP" id="button-2" target="_blank">  <button> </button> </a>
                    </div>
                    <a href="#"> <img src="../image/kadacraft_logo.png" style="position: relative; height: 3em; width: 100%; left: 8.6em; cursor: pointer;"> </a>
                </div>        
                <ul>
                    <li><a href="#about" style="color: black; font-family: Minecraft; letter-spacing: 0.05em;" > About Us </a></li>
                    <li><a href="#members" style="color: black; font-family: Minecraft; letter-spacing: 0.05em;"> Members </a></li>
                    <li><a href="/world" style="color: black; font-family: Minecraft; letter-spacing: 0.05em;"> Worlds </a></li>       
                </ul>
            </div>

            <div class = "content" >
                <h3 id="welcome-text"> Welcome to </h3>
                <a href="#"> <img src="../image/kadacraft_logo.png" class="logo"> </a>
                <p style="color: black; font-family: Lexend; font-weight: bold; font-size: 1em; ">  Kadacraft is a roleplaying SMP that is considered the number 1 Minecraft server in the Philippines powered by Apex Hosting. Wherein Numerous Minecraft Enthusiasts are joined together to build, have fun and share stories. </p>
                <div id="home-buttons">
                    <a href="#about" style="text-decoration: none;"> <button type="button" style="font-family: Minecraft; letter-spacing: 0.05em; font-size: 1em; "> <span></span> About Us </button> </a>
                    <a href="#members" style="text-decoration: none;"> <button type="button" style="font-family: Minecraft; letter-spacing: 0.05em; font-size: 1em; "> <span></span> Members </button> </a>
                </div>
            </div>


            <div id="ytVideo-container">
                {{#each videos}}
                    {{> home_card}}
                {{/each}}



                <!--

                <div class="ytVideo" id="ytThumbnail">
                    <div  id="ytPic"> <img src="../image/atmospheric.png"> </div>
                    <div id="right-content"> 
                        <div id="ytTitle"> <p > Video Title </p>  </div>
                        <div id="ytAuthor"> <p > Video Author </p>  </div>
                        <div id="ytIcons">
                            <img class="yt-icon" src="../image/small-icon/view-icon.png"> <p> 100 </p>
                            <img class="yt-icon" src="../image/small-icon/like-icon.png"> <p> 100 </p>
                            <img class="yt-icon" src="../image/small-icon/comment-icon.png"> <p> 100 </p>
                        </div>
                    </div> 
                </div>

                <div class="ytVideo" id="ytThumbnail">
                    <div  id="ytPic"> <img src="../image/atmospheric.png"> </div>
                    <div id="right-content"> 
                        <div id="ytTitle"> <p > Video Title </p>  </div>
                        <div id="ytAuthor"> <p > Video Author </p>  </div>
                        <div id="ytIcons">
                            <img class="yt-icon" src="../image/small-icon/view-icon.png"> <p> 100 </p>
                            <img class="yt-icon" src="../image/small-icon/like-icon.png"> <p> 100 </p>
                            <img class="yt-icon" src="../image/small-icon/comment-icon.png"> <p> 100 </p>
                        </div>
                    </div> 
                </div>

                <div class="ytVideo" id="ytThumbnail">
                    <div  id="ytPic"> <img src="../image/atmospheric.png"> </div>
                    <div id="right-content"> 
                        <div id="ytTitle"> <p > Video Title </p>  </div>
                        <div id="ytAuthor"> <p > Video Author </p>  </div>
                        <div id="ytIcons">
                            <img class="yt-icon" src="../image/small-icon/view-icon.png"> <p> 100 </p>
                            <img class="yt-icon" src="../image/small-icon/like-icon.png"> <p> 100 </p>
                            <img class="yt-icon" src="../image/small-icon/comment-icon.png"> <p> 100 </p>
                        </div>
                    </div> 
                </div>

                <div class="ytVideo" id="ytThumbnail">
                    <div  id="ytPic"> <img src="../image/atmospheric.png"> </div>
                    <div id="right-content"> 
                        <div id="ytTitle"> <p > Video Title </p>  </div>
                        <div id="ytAuthor"> <p > Video Author </p>  </div>
                        <div id="ytIcons">
                            <img class="yt-icon" src="../image/small-icon/view-icon.png"> <p> 100 </p>
                            <img class="yt-icon" src="../image/small-icon/like-icon.png"> <p> 100 </p>
                            <img class="yt-icon" src="../image/small-icon/comment-icon.png"> <p> 100 </p>
                        </div>
                    </div> 
                </div>

                <div class="ytVideo" id="ytThumbnail">
                    <div  id="ytPic"> <img src="../image/atmospheric.png"> </div>
                    <div id="right-content"> 
                        <div id="ytTitle"> <p > Video Title </p>  </div>
                        <div id="ytAuthor"> <p > Video Author </p>  </div>
                        <div id="ytIcons">
                            <img class="yt-icon" src="../image/small-icon/view-icon.png"> <p> 100 </p>
                            <img class="yt-icon" src="../image/small-icon/like-icon.png"> <p> 100 </p>
                            <img class="yt-icon" src="../image/small-icon/comment-icon.png"> <p> 100 </p>
                        </div>
                    </div> 
                </div>

                -->

            </div>

        </div>

        <div id="about">
            <div class="content-about">
                <h3>About Us</h3>
                <p style="font-family: Lexend; font-weight: bold;"> KadaCraft is a wholesome Minecraft server that is primarily composed of Filipino content creators. It is well-known for its creative builds and the roleplaying concept of the members. </p>
            </div>
        </div>    
        
       
        <div id="members">
             <!--
            <div class="content-title">
                <button style="border: 0; width: 100%; height: 3em;" id="member_button"> <h3 id="member_title"> Members ></h3> </button>
            </div>

            
            <ul class="flex-container wrap">
                <li>
                    <a href="/profile?name=AveryMcIvory" style="text-decoration: none;">
                        <div class="content-members">
                            <h3>Avery McIvory</h3>
                            <img src="../image/avery.jpg">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UC8w7U97376AfqgbgChFQ0Rg" style="text-decoration: none;" target="_blank">
                        <div class="content-members">
                            <h3>AZ1O1O</h3>
                            <img src="../image/az1010.jpg">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UC3Ir6UQsfdG_5LAebS47tPw?sub_confirmation=1" style="text-decoration: none;" target="_blank">
                        <div class="content-members">
                            <h3>BeeBuYog</h3>
                            <img src="../image/beebuyog.jpg">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCBNqKk9NyzpW1sbRZ2Iqrag" style="text-decoration: none;" target="_blank">
                        <div class="content-members">
                            <h3>ClariDori</h3>
                            <img src="../image/claridori.jpg">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UC6tCdiWfn_fg69MM6xEJhlQ?sub_confirmation=1" style="text-decoration: none;" target="_blank">
                        <div class="content-members">
                            <h3>Edicius 8-Bit</h3>
                            <img src="../image/edicius.jpg">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/c/JadePh" style="text-decoration: none;" target="_blank">
                        <div class="content-members">
                            <h3>Jade</h3>
                            <img src="../image/jadeph.jpg">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/@JZGRIT" style="text-decoration: none;" target="_blank" >
                        <div class="content-members">
                            <h3>JZ Grit</h3>
                            <img src="../image/jzgrit.jpg">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCY-2sNc980SBE4WirNsW5kQ" style="text-decoration: none;" target="_blank">
                        <div class="content-members">
                            <h3>Ken Playz</h3>
                            <img src="../image/kenplayz.jpg">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCY82vc2qc6OpJ2JIc84uwmw" style="text-decoration: none;" target="_blank">
                        <div class="content-members">
                            <h3>King FB</h3>
                            <img src="../image/kingfb.jpg">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCH1ePS4jaQ_pKjCV3ZoWTNQ" style="text-decoration: none;" target="_blank">
                        <div class="content-members">
                            <h3>Klarens</h3>
                            <img src="../image/klarens.jpg">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UC3Sz8yjiQbQE9_Xq3wUTTog" style="text-decoration: none;" target="_blank">
                        <div class="content-members">
                            <h3>Kristian PH</h3>
                            <img src="../image/kristianph.jpg">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCOp3dnFJVrEtTtgVF56OeSg" style="text-decoration: none;" target="_blank">
                        <div class="content-members">
                            <h3>LadySue</h3>
                            <img src="../image/ladysue.jpg">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCnPHLZXBAH42XVJlcwTCLlA" style="text-decoration: none;" target="_blank">
                        <div class="content-members">
                            <h3>Maki Kun</h3>
                            <img src="../image/makikun.jpg">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCmS4KnV7sX0l-VIyFhZ36yw?app=desktop&sub_confirmation=1" style="text-decoration: none;" target="_blank">
                        <div class="content-members">
                            <h3>Mc Hero</h3>
                            <img src="../image/mchero.jpg">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/c/MythDaRifferGaming" style="text-decoration: none;" target="_blank">
                        <div class="content-members">
                            <h3>MythDaRiffer</h3>
                            <img src="../image/mythdariffer.jpg">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCSHb6WyycptSag5u22KQdXA" style="text-decoration: none;" target="_blank">
                        <div class="content-members">
                            <h3>Obri</h3>
                            <img src="../image/obri.jpg">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/c/robraks" style="text-decoration: none;" target="_blank">
                        <div class="content-members">
                            <h3>robraks</h3>
                            <img src="../image/robraks.jpg">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UChMoFQr8tEisoGXOhw3cdHg?app=desktop&sub_confirmation=1" style="text-decoration: none;" target="_blank">
                        <div class="content-members">
                            <h3>SlyTheMiner</h3>
                            <img src="../image/slytheminer.jpg">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/c/StarserePlays" style="text-decoration: none;" target="_blank">
                        <div class="content-members">
                            <h3>Starsere</h3>
                            <img src="../image/starsere.jpg">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCj9AedTtoCwMUFUDAK_STPQ?app=desktop&sub_confirmation=1" style="text-decoration: none;" target="_blank">
                        <div class="content-members">
                            <h3>Sthreed</h3>
                            <img src="../image/sthreed.jpg">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UC2ukXRx1LNiGayO_HQ_bKmA" style="text-decoration: none;" target="_blank">
                        <div class="content-members">
                            <h3>TenderJoncy</h3>
                            <img src="../image/tenderjoncy.jpg">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCSWIKRQ3S3CW7c3S6VPe63Q?app=desktop&sub_confirmation=1" style="text-decoration: none;" target="_blank">
                        <div class="content-members">
                            <h3>WetzkieGamer</h3>
                            <img src="../image/wetzkie.jpg">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCng1BP8fhudP2WfI_JaJFZw" style="text-decoration: none;" target="_blank">
                        <div class="content-members">
                            <h3>Witch Carnelian</h3>
                            <img src="../image/witch.jpg">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCIHLEsaC8fCu9EWhKJzLNCQ?app=desktop&sub_confirmation=1" style="text-decoration: none;" target="_blank">
                        <div class="content-members">
                            <h3>ZircMCGamer</h3>
                            <img src="../image/zircmcgamer.jpg">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCaC6Exn0uANeUJNqd0QggNw" style="text-decoration: none;" target="_blank">
                        <div class="content-members">
                            <h3>Zeri Fae</h3>
                            <img src="../image/zerifae.jpg">
                        </div>
                    </a>
                </li>

            </ul>
            -->

            <div class="character-container">
                
                <div id="character-box">

                    <div id="first-row">
                        <img alt="AveryMcIvory" id="avery-link" data-ph-island="luzon" data-coord-x="480" data-coord-y="600" data-channel-id="UCvYssWjD3EYiw02k9V2julg" class="character-model member-img" src="../image/members/Avery.png" style="position:relative; left: -1em; top: 0em; z-index: 1;">
                        <img alt="AZ1O1O" id="1O1O-link" data-ph-island="luzon" data-coord-x="480" data-coord-y="600" data-channel-id="UC8w7U97376AfqgbgChFQ0Rg" class="character-model member-img" src="../image/members/1O1O.png" style="position:relative; left: -13em; top: 0em; z-index: 2;">
                        <img alt="BeeBuYog" id="Bee-link" data-ph-island="luzon" data-coord-x="430" data-coord-y="650" data-channel-id="UC3Ir6UQsfdG_5LAebS47tPw" class="character-model member-img" src="../image/members/Bee.png" style="clip-path: inset(0px 55px 0px 30px);left: -23em; top: 0em; z-index: 3;">
                        <img alt="KyahRye" id="KyahRye-link" data-ph-island="luzon" data-coord-x="480" data-coord-y="585" data-channel-id="UCdfkfwLNSFcoxJfMUELsGFg" class="character-model member-img" src="../image/members/KyahRye.png" style="clip-path: inset(0px 15px 0px 15px);left: -35em; top: 0em; z-index: 2; ">
                        <img alt="ClariDori"  id="Clari-link" data-ph-island="luzon" data-coord-x="500" data-coord-y="670" data-channel-id="UCBNqKk9NyzpW1sbRZ2Iqrag" class="character-model member-img" src="../image/members/Clari.png" style="clip-path: inset(0px 65px 0px 65px); left: -43em; top: 0em; z-index: 100; ">
                        <img alt="Edicius8-Bit" id="Edicius-link" data-ph-island="luzon" data-coord-x="450" data-coord-y="570" data-channel-id="UC6tCdiWfn_fg69MM6xEJhlQ" class="character-model member-img" src="../image/members/Edicius_8-Bit.png" style="clip-path: inset(10px 4px 15px 65px); left: -54em; top: 0em; z-index: 0; ">
                    </div>

                    <div id="second-row">
                        <img alt="Jade" id="Jade-link" data-ph-island="" data-coord-x="-50" data-coord-y="-50" data-channel-id="UC_ftwy-jI7VRv4BkbSsCnuA" class="character-model member-img" src="../image/members/Jade.png" style="clip-path: inset(0px 80px 0px 18px); left: 0em; top: 0em; z-index: 3; ">
                        <img alt="JZGrit" id="Jz-link" data-ph-island="luzon" data-coord-x="480" data-coord-y="600" data-channel-id="UClx91ILccyc0IpzqGZjwhpg" class="character-model member-img" src="../image/members/Jz.png" style="clip-path: inset(10px 80px 15px 45px); left: -11em; top: 1em; z-index: 3; ">
                        <img alt="KenPlayz" id="Ken-link" data-ph-island="luzon" data-coord-x="426" data-coord-y="450" data-channel-id="UCY-2sNc980SBE4WirNsW5kQ" class="character-model member-img" src="../image/members/Ken.png" style="clip-path: inset(5px 64px 15px 45px); left: -20em; top: 0em; z-index: 2; ">
                        <img alt="KingFB" id="King-link" data-ph-island="luzon" data-coord-x="520" data-coord-y="570" data-channel-id="UCY82vc2qc6OpJ2JIc84uwmw" class="character-model member-img" src="../image/members/King.png" style="clip-path: inset(5px 49px 15px 125px);left: -32em; top: 0em; z-index: 1; ">
                        <img alt="Klarens" id="Klarenz-link" data-ph-island="luzon" data-coord-x="600" data-coord-y="650" data-channel-id="UCH1ePS4jaQ_pKjCV3ZoWTNQ" class="character-model member-img" src="../image/members/Klarenz.png" style="clip-path: inset(5px 60px 15px 59px); left: -40em; top: 0em; z-index: 2; "> 
                    </div>

                    <div id="third-row">
                        <img alt="KristianPH" id="Kris-link" data-ph-island="luzon" data-coord-x="380" data-coord-y="480" data-channel-id="UC3Sz8yjiQbQE9_Xq3wUTTog" class="character-model member-img" src="../image/members/Kris.png" style="clip-path: inset(16px 60px 15px 32px); left: 0em; top: 0em; z-index: 4; ">
                        <img alt="LadySue" id="Ladysue-link" data-ph-island="luzon" data-coord-x="520" data-coord-y="570" data-channel-id="UCOp3dnFJVrEtTtgVF56OeSg" class="character-model member-img" src="../image/members/Ladysue.png" style="clip-path: inset(6px 25px 15px 25px); left: -13em; top: 0em; z-index: 3; ">  
                        <img alt="MakiKun" id="MakiKun-link" data-ph-island="luzon" data-coord-x="480" data-coord-y="600" data-channel-id="UCnPHLZXBAH42XVJlcwTCLlA" class="character-model member-img" src="../image/members/MakiKun.png" style="clip-path: inset(6px 70px 15px 65px); left: -23em; top: 0em; z-index: 3; "> 
                        <img alt="McHero" id="McHero-link" data-ph-island="luzon" data-coord-x="520" data-coord-y="570" data-channel-id="UCmS4KnV7sX0l-VIyFhZ36yw" class="character-model member-img" src="../image/members/McHero.png" style="clip-path: inset(6px 25px 15px 70px); left: -34em; top: 0em; z-index: 4; "> 
                        <img alt="MythDaRiffer" id="Myth-link" data-ph-island="visayas" data-coord-x="670" data-coord-y="1030" data-channel-id="UCMjP3_mW1_uwgRiLHWj_DQg" class="character-model member-img" src="../image/members/Myth.png" style="clip-path: inset(6px 30px 15px 70px); left: -45em; top: 0em; z-index: 3; "> 
                    </div>

                    <div id="fourth-row">
                        <img alt="Obri" id="Obri-link" data-ph-island="luzon" data-coord-x="600" data-coord-y="650" data-channel-id="UCSHb6WyycptSag5u22KQdXA" class="character-model member-img" src="../image/members/Obri.png" style="clip-path: inset(6px 50px 15px 55px); left: 0em; top: 0em; z-index: 7; ">
                        <img alt="robraks" id="Rob-link" data-ph-island="luzon" data-coord-x="600" data-coord-y="650" data-channel-id="UCzW-TM_w4ntSKbzeT1lcwOQ" class="character-model member-img" src="../image/members/Rob.png" style="clip-path: inset(6px 65px 15px 70px); left: -10em; top: 0em; z-index: 7; "> 
                        <img alt="SlyTheMiner" id="Sly-link" data-ph-island="luzon" data-coord-x="480" data-coord-y="530" data-channel-id="UChMoFQr8tEisoGXOhw3cdHg" class="character-model member-img" src="../image/members/Sly.png" style="clip-path: inset(6px 30px 15px 40px); left: -19em; top: 0em; z-index: 5; "> 
                        <img alt="Starsere" id="Starsere-link" data-ph-island="luzon" data-coord-x="480" data-coord-y="600" data-channel-id="UChDF2wRXgNq_RZX0UZrB7Mg" class="character-model member-img" src="../image/members/Starsere.png" style="clip-path: inset(6px 42px 15px 60px); left: -32em; top: 0em; z-index: 6; "> 
                        <img alt="Sthreed" id="Sthreed-link" data-ph-island="luzon" data-coord-x="428" data-coord-y="480" data-channel-id="UCj9AedTtoCwMUFUDAK_STPQ" class="character-model member-img" src="../image/members/Sthreed.png" style="clip-path: inset(6px 35px 15px 80px);  left: -42em; top: 0em; z-index: 4; "> 
                    </div>

                    <div id="fifth-row">
                        <img alt="TenderJoncy" id="TenderJoncy-link" data-ph-island="luzon" data-coord-x="380" data-coord-y="480" data-channel-id="UC2ukXRx1LNiGayO_HQ_bKmA" class="character-model member-img" src="../image/members/TenderJoncy.png" style="clip-path: inset(6px 50px 15px 35px); left: 0em; top: 0em; z-index: 8; ">
                        <img alt="WetzkieGamer" id="Wetz-link" data-ph-island="mindanao" data-coord-x="1150" data-coord-y="1500" data-channel-id="UCSWIKRQ3S3CW7c3S6VPe63Q" data-channel-id="UCvYssWjD3EYiw02k9V2julg"class="character-model member-img" src="../image/members/Wetz.png" style="clip-path: inset(6px 45px 15px 45px); left: -8em; top: 0em; z-index: 8; "> 
                        <img alt="WitchCarnelian" id="Witch-link" data-ph-island="luzon" data-coord-x="495" data-coord-y="585" data-channel-id="UCng1BP8fhudP2WfI_JaJFZw" class="character-model member-img" src="../image/members/Witch_Carnelian.png" style="clip-path: inset(6px 30px 15px 40px); left: -16em; top: 0em; z-index: 9; "> 
                        <img alt="ZeriFae" id="Zeri-link" data-ph-island="luzon" data-coord-x="500" data-coord-y="670" data-channel-id="UCaC6Exn0uANeUJNqd0QggNw" class="character-model member-img" src="../image/members/Zeri.png" style="clip-path: inset(6px 42px 15px 60px); left: -28em; top: 0em; z-index: 10; "> 
                        <img alt="ZircMCGamer" id="Zirc-link" data-ph-island="luzon" data-coord-x="520" data-coord-y="590" data-channel-id="UCIHLEsaC8fCu9EWhKJzLNCQ" class="character-model member-img" src="../image/members/Zirc.png" style="clip-path: inset(6px 18px 15px 20px);  left: -36em; top: 0em; z-index: 11; "> 
                    </div>
                
                </div>
            
            </div>

            <div id="philippines-island">
                <div id="place-member"></div>
                <img src="../image/island/Luzon.png" id="luzon">
                <img src="../image/island/Visayas.png" id="visayas">
                <img src="../image/island/Mindanao.png" id="mindanao">
            </div>

        </div>

        <script src="../js/Home.js"></script>


    </body>
</html>
