<!DOCTYPE html>

<html>
    <head>
        <title> KadaCraft </title> 
        <link rel="stylesheet" href="../css/HomeStyle.css"> 
        <link rel="stylesheet" href="../css/ResolutionCompatible.css" defer> 
        <link rel="stylesheet" href="../css/WorldStyle.css">
        <link type="text/css" rel="stylesheet" href="../css/Font.css">
        <link rel="icon" type="image/png" href="../image/kadacraft_weblogo.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../js/jquery.images-rotation.js"></script>
        <script src="../js/Home.js"></script>
    </head>

    <body>
        
        <div class = "banner" id="top"> 
        
            <div class="navbar">
                <a class="facebook-btn" style="position:relative; left: 5em; cursor: pointer;" title="Facebook Group"><img src="../image/facebook_logo.png" class="facebook-img" id="facebook-links"></a>
                <div id="tooltip" style="position: relative; display: flex;">
                    <div id="tooltip-text" style="display: none; transform: translate(-45em, 5em);"> 
                        <a href="https://www.facebook.com/groups/KadaCraft" id="button-1" target="_blank"> <button> </button> </a>
                        <a href="https://www.facebook.com/KadaCraftSMP" id="button-2" target="_blank">  <button> </button> </a>
                    </div>
                    <a href="/"> <img src="../image/kadacraft_logo.png" style="position: relative; height: 3em; width: 100%; left: 1em; cursor: pointer;"> </a>
                </div>        
                <ul>
                    <li style="right: 70px;"><a href="/" style="position: relative; color: black; font-family: Minecraft; letter-spacing: 0.05em;" > Home </a></li>     
                </ul>
            </div>
            
            <div class="content-title" style="position: absolute; left: 44%; width: 10%; height: 2em; margin-top: 4em; color: white; border: 3px solid white; background-color: transparent; display: block; z-index: 1;">
                <h1 id="member_title" style="position: relative; height: 3em; text-align: center; transform: translate(1%, -3%); width: 100%;"> Seasons </h1>
            </div>
            

            <div class="video-wrapper">
                <video src="../image/video/Worlds.mp4" style="width: 100%; position: absolute; pointer-events: none; background-size: cover; background-position: center;" autoplay muted loop playsinline>
                    <source src="../image/video/Worlds.mp4" type="video/mp4">
                </video>
            </div>

            <div id="container">    
                <div onclick="location.href='https://www.mediafire.com/file/s2b7j3ckj9dkgvx/KadaCraft_S1.mcworld/file';" style="cursor: pointer;" class="images-rotation world-box" data-images='["../image/season1/kadacraftS1_1.png", "../image/season1/kadacraftS1_2.png", "../image/season1/kadacraftS1_3.png", "../image/season1/kadacraftS1_4.png", "../image/season1/kadacraftS1_5.png", "../image/season1/kadacraftS1_6.png"]' style="position: relative;">  
                    <img src="../image/season1/kadacraftS1-best.png" alt="" style="position: relative; width: 100%; height: 100%; object-fit: cover; left: 50%; top: 50%; transform: translate(-50%, -50%);">
                    <h1 style="position: relative; top: 50%; left: 50%; transform: translate(-50%, -226%); z-index: 2; text-shadow: 5px 5px #000000;">1</h1>
                </div>
                            
                <div onclick="location.href='https://www.mediafire.com/file/d6akwu2lvm2xz6f/KadaCraft_Season_2.mcworld/file';" style="cursor: pointer;" class="images-rotation world-box" data-images='["../image/season2/kadacraftS2_1.png", "../image/season2/kadacraftS2_2.png", "../image/season2/kadacraftS2_3.png", "../image/season2/kadacraftS2_4.png", "../image/season2/kadacraftS2_5.png", "../image/season2/kadacraftS2_6.png"]' style="position: relative;">
                    <img src="../image/season2/kadacraftS2-best.png" alt="" style="position: relative; width: 100%; height: 100%; object-fit: cover; left: 50%; top: 50%; transform: translate(-50%, -50%);">
                    <h1 style="position: relative; top: 50%; left: 50%; transform: translate(-50%, -226%); z-index: 2; text-shadow: 5px 5px #000000;">2</h1>
                </div>

                <div onclick="location.href='https://www.mediafire.com/file/rdnv4o2enbjabrh/KadaCraft_Season_3_%2528Pruned_Java_World%2529.rar/file';" style="cursor: pointer;" class="images-rotation world-box" data-images='["../image/season3/kadacraftS3_1.png", "../image/season3/kadacraftS3_2.png", "../image/season3/kadacraftS3_3.png", "../image/season3/kadacraftS3_4.png", "../image/season3/kadacraftS3_5.png", "../image/season3/kadacraftS3_6.png"]' style="position: relative;">
                    <img src="../image/season3/kadacraftS3-best.png" alt="" style="position: relative; width: 100%; height: 100%; object-fit: cover; left: 50%; top: 50%; transform: translate(-50%, -50%);">
                    <h1 style="position: relative; top: 50%; left: 50%; transform: translate(-50%, -226%); z-index: 2; text-shadow: 5px 5px #000000;">3</h1>
                </div>

                <div onclick="location.href='https://www.mediafire.com/file/9u1k34wta8a3z14/KadaCraft_Season_Four.rar/file';" style="cursor: pointer;" class="images-rotation world-box" data-images='["../image/season4.1/kadacraftS4.1_1.png", "../image/season4.1/kadacraftS4.1_2.png", "../image/season4.1/kadacraftS4.1_3.png", "../image/season4.1/kadacraftS4.1_4.png", "../image/season4.1/kadacraftS4.1_5.png", "../image/season4.1/kadacraftS4.1_6.png"]' style="position: relative;">
                    <img src="../image/season4.1/kadacraftS4.1-best.png" alt="" style="position: relative; width: 100%; height: 105%; object-fit: cover; left: 50%; top: 50%; transform: translate(-50%, -50%);">
                    <h1 style="position: relative; top: 50%; left: 50%; transform: translate(-50%, -233%); z-index: 2; text-shadow: 5px 5px #000000;">4</h1>
                </div>

                <div onclick="location.href='https://drive.google.com/file/d/1UuIYC5o4mUoje6wnNLpfUD1s9MOM0r64/view?usp=drive_link';" style="cursor: pointer;" class="images-rotation world-box" data-images='["../image/season4/kadacraftS4_1.png", "../image/season4/kadacraftS4_2.png", "../image/season4/kadacraftS4_3.png", "../image/season4/kadacraftS4_4.png", "../image/season4/kadacraftS4_5.png", "../image/season4/kadacraftS4_6.png"]' style="position: relative;">
                    <img src="../image/season4/kadacraftS4-best.png" alt="" style="position: relative; width: 100%; height: 105%; object-fit: cover; left: 50%; top: 50%; transform: translate(-50%, -50%); ">
                    <h1 style="position: relative; top: 50%; left: 50%; transform: translate(-50%, -233%); z-index: 2; text-shadow: 5px 5px #000000;">4.1</h1>
                </div>

                
                
            </div>


        </div>
        

    </body>

    <script>
        $('.images-rotation').imagesRotation();
      </script>

</html>
