<!DOCTYPE html>
<html>

<head>
    <title> KadaCraft </title>
    <link rel="stylesheet" href="/css/HomeStyle.css">
    <link rel="stylesheet" href="/css/ResolutionCompatible.css" defer>
    <link rel="stylesheet" href="/css/WorldStyle.css">
    <link type="text/css" rel="stylesheet" href="/css/Font.css">
    <link rel="icon" type="image/png" href="/image/kadacraft_weblogo.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/jquery.images-rotation.js"></script>
    <script src="/js/Home.js"></script>
</head>

<body id="world">
    <div class="navbar">
        <a class="facebook-btn" style="position:relative; left: 5em; cursor: pointer;" title="Facebook Group">
            <img src="/image/facebook_logo.png" class="facebook-img" id="facebook-links">
        </a>
        <div id="tooltip" style="position: relative; display: flex;">
            <div id="tooltip-text" style="display: none; transform: translate(-45em, 5em);">
                <a href="https://www.facebook.com/groups/KadaCraft" id="button-1" target="_blank">
                    <button></button>
                </a>
                <a href="https://www.facebook.com/KadaCraftSMP" id="button-2" target="_blank">
                    <button></button>
                </a>
            </div>
            <a href="/"> <img src="/image/kadacraft_logo.png" style="position: relative; height: 3em; width: 100%; left: 1em; cursor: pointer;"> </a>
        </div>
        <ul>
            <li style="right: 70px;">
                <a href="/" style="position: relative; color: black; font-family: Minecraft; letter-spacing: 0.05em;">Home</a>
            </li>
        </ul>
    </div>
    <div class="banner" id="top">
        <div class="content-title">
            <h1 id="member_title"> Seasons </h1>
        </div>
        <div id="container">
            <div onclick="location.href='https://www.mediafire.com/file/s2b7j3ckj9dkgvx/KadaCraft_S1.mcworld/file';"
                class="images-rotation world-box"
                data-images='["/image/season1/kadacraftS1_1.png", "/image/season1/kadacraftS1_2.png", "/image/season1/kadacraftS1_3.png", "/image/season1/kadacraftS1_4.png", "/image/season1/kadacraftS1_5.png", "/image/season1/kadacraftS1_6.png"]'>
                <img src="/image/season1/kadacraftS1-best.png" alt="">
                <h1>1</h1>
            </div>

            <div onclick="location.href='https://www.mediafire.com/file/d6akwu2lvm2xz6f/KadaCraft_Season_2.mcworld/file';"
                class="images-rotation world-box"
                data-images='["/image/season2/kadacraftS2_1.png", "/image/season2/kadacraftS2_2.png", "/image/season2/kadacraftS2_3.png", "/image/season2/kadacraftS2_4.png", "/image/season2/kadacraftS2_5.png", "/image/season2/kadacraftS2_6.png"]'>
                <img src="/image/season2/kadacraftS2-best.png" alt="">
                <h1>2</h1>
            </div>

            <div onclick="location.href='https://www.mediafire.com/file/rdnv4o2enbjabrh/KadaCraft_Season_3_%2528Pruned_Java_World%2529.rar/file';"
                class="images-rotation world-box"
                data-images='["/image/season3/kadacraftS3_1.png", "/image/season3/kadacraftS3_2.png", "/image/season3/kadacraftS3_3.png", "/image/season3/kadacraftS3_4.png", "/image/season3/kadacraftS3_5.png", "/image/season3/kadacraftS3_6.png"]'>
                <img src="/image/season3/kadacraftS3-best.png" alt="">
                <h1>3</h1>
            </div>

            <div onclick="location.href='https://www.mediafire.com/file/9u1k34wta8a3z14/KadaCraft_Season_Four.rar/file';"
                class="images-rotation world-box"
                data-images='["/image/season4.1/kadacraftS4.1_1.png", "/image/season4.1/kadacraftS4.1_2.png", "/image/season4.1/kadacraftS4.1_3.png", "/image/season4.1/kadacraftS4.1_4.png", "/image/season4.1/kadacraftS4.1_5.png", "/image/season4.1/kadacraftS4.1_6.png"]'>
                <img src="/image/season4.1/kadacraftS4.1-best.png" alt="">
                <h1>4</h1>
            </div>

            <div onclick="location.href='https://drive.google.com/file/d/1UuIYC5o4mUoje6wnNLpfUD1s9MOM0r64/view?usp=drive_link';"
                class="images-rotation world-box"
                data-images='["/image/season4/kadacraftS4_1.png", "/image/season4/kadacraftS4_2.png", "/image/season4/kadacraftS4_3.png", "/image/season4/kadacraftS4_4.png", "/image/season4/kadacraftS4_5.png", "/image/season4/kadacraftS4_6.png"]'>
                <img src="/image/season4/kadacraftS4-best.png" alt="">
                <h1>4.1</h1>
            </div>
        </div>
    </div>
    <div class="video-wrapper">
        <video src="/image/video/Worlds.mp4" autoplay muted loop playsinline>
            <source src="/image/video/Worlds.mp4" type="video/mp4">
        </video>
    </div>

    <script>
        $('.images-rotation').imagesRotation();
    </script>
</body>

</html>
