*{
    margin: 0;
    padding: 0;
    font-family: Minecraft;
    font-weight: bold;
}


body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

html{
    scroll-behavior: smooth;
}

.banner {
    width: 100%;
    height: 1010px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.692), rgba(0, 0, 0, 0)),url(../image/kadacraft_background1.png);
    background-size: cover;
    background-position: calc(50% + 45px) 0px;
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(255, 238, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    position: fixed;
    z-index: 100;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    right: 20%;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    transition: 0.5s;
    margin: 0.8em;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #fdfdfd;
    position: absolute;
    left: 50%; /* Center the underline */
    transform: translateX(-50%);
    bottom: -0.5em;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: calc(100% - 22px); /* Adjusted width to account for padding/margin */
    background: rgb(0, 0, 0);
}

@keyframes slideInLeft{
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(-100);
        opacity: 1;
    }
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;

    animation: slideInLeft 1s ease-in both;
}

.content h1{
    font-size: 70px;
    text-transform: uppercase;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}



#about{
    width: 100%;
    height: 1010px;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0, 0, 0, 0)),url(../image/kadacraft_background0.png);
    background-size: cover;
    background-position: center;
}

.content-about {
    background-color: rgba(0, 0, 0, 0.63);
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    color: white;
    width: 50%;
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-about h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.content-about p {
    font-size: 18px;
    margin-bottom: 10px;
}

#members {
    position: relative;
    width: 100%;
    height: 1010px;
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)),url(../image/season4/kadacraftS4-best.png);
    background-size: cover;
    background-position: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#members::-webkit-scrollbar{
    display: none;
}

.content-title{
    position: relative;
    margin: auto;
    top: 10%;
    background-color: rgba(255, 238, 0, 0.863);
    border-radius: 30px;
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    width: 300px;
    display: none;
}

#member-container{
    display: none;
}

.content-members {
    height: 70%;
    position: relative;
    margin: 15px;
    background-color: rgba(255, 238, 0, 0.863);
    border-radius: 40px;
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    width: 80%;
    transition: 0.5s;
    border: 3px solid rgb(0, 0, 0);
}

.content-members:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 40px;
    text-align: center;
    color: rgba(255, 238, 0, 0.863);
    transition: 0.5s;
    border: 3px solid rgba(255, 238, 0, 0.863);
}

.content-members img{
    width: 50%;
    border-radius: 50%;
    border: 3px solid rgb(0, 0, 0);
}

.flex-container {
    top: 15%;
    justify-content: center;
    position: relative;
    list-style: none;
    display: none;
}

.wrap { 
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}  

.content-members h3 {
    font-size: 130%;
    margin-bottom: 10px;
}


button{
    color: rgb(0, 0, 0);
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgba(255, 238, 0, 0.863);
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: rgba(255, 238, 0, 0.863);
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    color: rgb(255, 255, 255);
    border: none;
}

.facebook-img{
    position: relative; 
    width: 100%; 
    height: 2em; 
    transition: 0.5s;
}

.facebook-img:hover{
    filter: invert(100%);
    transform: scale(1.2);
}

#tooltip-text {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-37.5em, 5em);
    width: 30%;
    height: 160%;
    background-color: rgba(255, 238, 0, 0.877);
    border: 3px solid rgb(0, 0, 0);
    color: #000000;
    text-align: center;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#tooltip-text::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: #0000 #0000 #000 #0000;
}

#button-1, #button-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 3em;
    width: 90%;
    transition: 0.3s;
    border: none;
    cursor: pointer; 
    text-decoration: none; 
    color: black;
}

#button-1:hover, #button-2:hover {
    background-color: #ffffff;
}

::-webkit-scrollbar {
    width: 1em;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(0, 0, 0); 
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: rgb(255, 238, 0);
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(196, 183, 0);
}


