* {
    margin: 0;
    padding: 0;
    font-family: "Minecraft", sans-serif;
    font-weight: bold;
}


body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

html {
    scroll-behavior: smooth;
}

.banner {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.692), rgba(0, 0, 0, 0)), url("/image/kadacraft_background1.png");
    background-size: cover;
    background-position: calc(50% + 45px) 0;
    background-attachment: fixed;
}

.navbar {
    min-width: 100vw;
    height: 2vw;
    margin: auto;
    padding: 0.7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(255, 238, 0);
    border-bottom: 0.3vw solid rgb(0, 0, 0);
    position: fixed;
    z-index: 100;
    overflow: hidden;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    right: 30%;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    transition: 0.5s;
    margin: 0.8em;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #fdfdfd;
    position: absolute;
    left: 50%; /* Center the underline */
    transform: translateX(-50%);
    bottom: -0.5em;
    transition: width 0.5s cubic-bezier(0.25, 0.75, 0, 1), background 0.2s ease;
}

.navbar ul li:hover::after {
    width: calc(100% - 22px); /* Adjusted width to account for padding/margin */
    background: rgb(0, 0, 0);
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%) scale(0);
        opacity: 0;
    }
    to {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}


@keyframes slideInLeft2 {
    from {
        transform: translateX(-25%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.content {
    position: absolute;
    left: 8vw;
    top: 40vh;
    /*transform: translate(8vw, 23vw);*/
    height: 17vw;
    width: 25vw;
    z-index: 3;
    text-align: left;
}

.content > #welcome-text {
    color: black;
    font-family: Minecraft, sans-serif;
    letter-spacing: 0.05em;
    font-size: 1em;
    opacity: 0;
    animation: slideInLeft2 1.5s cubic-bezier(0.25, 0.75, 0, 1) forwards;
}

.content .logo {
    position: relative;
    cursor: pointer;
    width: 15vw;
    margin-top: 3%;
    opacity: 0;
    animation: slideInLeft2 1.5s cubic-bezier(0.25, 0.75, 0, 1) 0.15s forwards;
}

.content #welcome-text {
    font-size: 1vw;
    text-transform: uppercase;
}

.content #welcome-description {
    margin: 1vw auto;
    font-size: 1rem;
    opacity: 0;
    animation: slideInLeft2 1.5s cubic-bezier(0.25, 0.75, 0, 1) 0.3s forwards;
}

.content > #home-buttons {
    display: flex;
    gap: 0.5rem;
    opacity: 0;
    animation: slideInLeft2 1.5s cubic-bezier(0.25, 0.75, 0, 1) 0.5s forwards;
}

#ytVideo-container {
    position: relative;
    top: 17vh;
    left: 65vw;
    width: 30vw;
    height: 70vh;
    /*transform: translate(65vw, 9vw);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ytVideo {
    position: relative;
    margin-top: 1.5vw;
    border-radius: 20vw;
    width: 27vw;
    height: 10vw;
    background: white;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}


.ytVideo #ytPic {
    position: relative;
    align-items: center;
    width: 35vw;
    height: 7vw;
    left: 0;
    top: 0;
    transform: translate(1vw, 0.2vw);
}

.ytVideo #ytPic img {
    width: 6vw;
    border-radius: 200vw;
    position: relative;
    z-index: 1;
    border: 0.3vw solid rgb(255, 255, 255);
    box-shadow: 0px 0px 0.5vw 0px rgba(0, 0, 0, 0.75);
}

#ytThumbnail {
    background-size: cover;
    background-position: center;
    position: relative;
    left: 0;
    top: 0;
    z-index: 0;
    border: 0.3vw solid #ffffff;
    box-shadow: 0px 0px 0.5vw 0px rgba(0, 0, 0, 0.75);
    transition: border-color 0.3s ease-in-out, filter 0.2s ease-in-out;
}

#ytThumbnail:hover{
    filter: saturate(200%);
    border: 0.3vw solid rgb(255, 238, 0);
}

.ytVideo #right-content {
    position: relative;
    width: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#right-content > * {
    color: #FFF;
}

#right-content #ytTitle {
    width: 18vw;
    font-size: 1.5rem;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    text-shadow: 2px 2px #3F3F3F;
}

#right-content #ytTitle p {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#right-content #ytAuthor {
    width: 18vw;
    font-size: 1rem;
    position: relative;
    top: 0;
    left: 0;
    text-shadow: 2px 2px #3F3F3F;
}

#right-content #ytIcons {
    position: relative;
    width: 15vw;
    height: 1.5vw;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#ytIcons .yt-icon {
    display: flex;
    width: 1vw;
    height: 2vh;
    filter: invert(100%);
}

#about {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("/image/kadacraft_background0.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-about {
    background-color: rgba(0, 0, 0, 0.63);
    border-radius: 2vw;
    padding: 1.5rem;
    text-align: center;
    color: white;
    width: 35vw;
}

.content-about h3 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #FFEE00;
    text-shadow: 3px 3px #3F3F15;
}

.content-about p {
    font-size: 1rem;
    margin-bottom: 10px;
}

#members {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("/image/season4/kadacraftS4_2.png");
    background-size: cover;
    background-position: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    
}

#members-list{
    display: none;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 13vh;
}

#members::-webkit-scrollbar {
    display: none;
}

.content-title {
    position: relative;
    margin: auto;
    top: 10%;
    background-color: rgba(255, 238, 0, 0.863);
    border-radius: 30px;
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    width: 300px;
    display: none;
}

#member-container {
    display: none;
}

.content-members {
    height: 15vh;
    position: relative;
    margin: auto;
    background-color: rgba(255, 238, 0, 0.863);
    border-radius: 40px;
    padding: 10px;
    text-align: center;
    color: #000;
    width: 50vw;
    transition: 0.5s;
    border: 3px solid #000;
    margin-bottom: 10px;
    
}

.content-members:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 40px;
    text-align: center;
    color: rgba(255, 238, 0, 0.863);
    transition: 0.5s;
    border: 3px solid rgba(255, 238, 0, 0.863);
}

.content-members img {
    width: 15vw;
    border-radius: 50%;
    border: 3px solid #000;
}

.flex-container {
    justify-content: center;
    position: relative;
    list-style: none;
    display: none;
}

.wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.content-members h3 {
    font-size: 130%;
    margin-bottom: 10px;
}


button {
    color: #000;
    width: 10vw;
    height: 5vh;
    border-radius: 10vw;
    font-weight: bold;
    border: 0.2vw solid rgba(255, 238, 0, 0.863);
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.2s ease-in-out;
    font-size: 1vw;
}

button span {
    background: rgba(255, 238, 0, 0.863);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: width 0.75s cubic-bezier(0.25, 0.75, 0, 1);
}

button:hover span {
    width: 100%;
    transition: width 0.75s cubic-bezier(0.25, 0.75, 0, 1);
    
}

button:hover {
    color: black;
    transition: color 0.375s ease-in-out;
}

.facebook-img {
    position: relative;
    width: 1vw;
    height: 3vh;
    transition: 0.5s;
}

.facebook-img:hover {
    filter: invert(100%);
    transform: scale(1.2);
}

#tooltip #kadacraftLogo-nav{
    left: 8.6em;
    position: relative; 
    width: 15vw; 
    cursor: pointer;
}

#tooltip-text {
    position: fixed;
    left: 3.5%;
    top: 9%;
    width: 5vw;
    height: 10vh;
    background-color: rgba(255, 238, 0, 0.877);
    border: 0.3vw solid #000;
    color: #000;
    text-align: center;
    border-radius: 1vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

#tooltip-text::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    border: 1vw solid;
    border-color: #0000 #0000 #000 #0000;
}

#button-1, #button-2 {
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 3em;
    width: 90%;
    transition: 0.3s;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

#button-1:hover, #button-2:hover {
    background-color: #FFF;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #000;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 238, 0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(196, 183, 0);
}

#philippines-island {
    position: absolute;
    top: 15%;
    left: 65%;
    height: 77vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    border-radius: 5em;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#philippines-island #luzon {
    position: absolute;
    /*height: 570px;
    width: 340px;*/
    height: 56vh;
    width: 18vw;
    top: 2%;
}

#philippines-island #visayas {
    position: absolute;
    /*height: 160px;
    width: 200px;*/
    height: 16vh;
    width: 11vw;
    bottom: 36%;
    top: 0;
    left: 0;
    transform: translate(110%, 230%);
}

#philippines-island #mindanao {
    position: absolute;
    /*height: 300px;
    width: 400px;*/
    height: 30vh;
    width: 22vw;
    bottom: 8%;
    top: 0;
    left: 0;
    transform: translate(24%, 150%);
}

.island-selected {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
    z-index: 10;
    position: absolute;
}

.island-unselected {
    transform: scale(1);
    filter: brightness(25%);
    transition: all 0.5s ease-in-out;
}

.island-normal {
    transform: scale(1);
    transition: all 0.5s ease-in-out;
    filter: brightness(100%);
}

.hover-image {
    height: 3vh;
    width: 1.5vw;
    border-radius: 5em;
    opacity: 1;
    border: 0.2vw solid black;
}





