/* use max-width and vh or vw for responsive design */
body {
    position: fixed;
}

#contents-container {
    position: relative; 
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    left: 0%;
    top: 3%;
    text-align: center;
}

#playerDetails-container {
    position: relative;
    background: rgba(0, 0, 0, 0.705);
    width: 30vw;
    height: 80vh;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    border-radius: 3vw;
    border: 0.3vw solid rgb(255, 238, 0);
    box-shadow: 0 0 16px 4px rgba(255, 238, 0, 0.5);
    padding: 1rem;
    gap: 1rem;
}

#playerDetails-container #top {
    position: relative;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

#channelName {
    position: relative;
    /*height: 10vh;*/
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#channelName p {
    font-size: 3rem;
    white-space: nowrap;
    color: rgb(255, 238, 0);
    text-shadow: 4px 4px #3F3F15, 0 0 16px rgba(255, 238, 0, 0.8);
}

#channelSocials {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

#channelSocials a {
    text-decoration: none;
}

#channelSocials img {
    width: 1.1vw;
    height: 1vw;
    filter: saturate(500%);
}

#member-render {
    position: relative; 
    height: 40vw; 
    width: 50vw;
    -webkit-animation: breathing 5s cubic-bezier(0.4, 0, 0.2, 1) infinite normal;
    animation: breathing 5s cubic-bezier(0.4, 0, 0.2, 1) infinite normal;
    filter: drop-shadow(2px 2px 16px rgba(255, 238, 0, 0.5));
}

#playerDetails-container #mid {
    position: relative;
    display: grid;
    grid-template-columns: 30% 55%;
    row-gap: 0.7vw;
    column-gap: 0.7vw;
    align-items: center;
    justify-content: center;
}

#mid .mid-rows {
    position: relative;
    width: 31vw;
    height: 10vw;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    bottom: 3%;
}

#mid .stat-name {
    text-align: right;
    font-size: 1.5rem;
    color: rgb(255, 238, 0);
    text-shadow: 2px 2px #3F3F15;
}

.stats-bar, .progress-bar {
    border-radius: 10vw;

}

#mid .stats-bar {
    border: 0.3vw solid white;
    color: white;
    box-shadow: 0 0 0.3vw 0.3vw #00000073;
}

.stats-bar .progress-bar {
    background-color: rgb(255, 238, 0);
    color: black;
    font-weight: bold;
    font-size: 1vw;
    padding: 0.25rem 0;
    text-align: center;
    width: 0;
}

#bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 1.5rem;
    position: relative;
    width: 28vw;
    height: 40vh;
    margin: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

#bottom #description {
    margin: auto;
    color: white;
    width: 26vw;
    text-align: center;
}

#description #description-content {
    position: relative;
    font-size: calc(15px + 0.390625vw);
    text-align: center;
    overflow: hidden;
    font-family: Lexend, sans-serif;
    font-weight: lighter;
}

#builds-img-container {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    object-fit: fill;
    position: relative;
    border: 0.3vw solid white;
    border-radius: 2vw;
    overflow: hidden;
}

#builds-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    z-index: -1;
    border-radius: 50vw;
    border: 0.3vw solid white;
}

#builds-img-container > #builds-img-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
}

#builds-img-background > #bg-prev, #builds-img-background > #bg-next {
    width: 50%;
}

#builds-img-background > #bg-prev {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent);
}

#builds-img-background > #bg-next {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent);
}

#builds-img-container #previous-img, #builds-img-container #next-img {
    color: white;
    cursor: pointer;
    /*height: 100%; 
    width: 50%; */
    font-size: 4vw;
    text-shadow: 0 0.3vw #3F3F3F;
    transition: color 0.3s ease, transform 1s cubic-bezier(0.25, 0.75, 0, 1);
    position: relative;
    z-index: 1;
}

#builds-img-container #previous-img {
    margin-left: 7%;
    text-align: left;
}

#builds-img-container #next-img {
    margin-right: 5%;
    text-align: right;
}

#builds-img-container #previous-img:hover, #builds-img-container #next-img:hover {
    color: rgb(255, 238, 0);
    text-shadow: 0 0.3vw #3F3F15;
    transition: color 0.2s ease, transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

#builds-img-container #previous-img:hover {
    transform: translateX(-15%);
}

#builds-img-container #next-img:hover {
    transform: translateX(15%);
}



/* ANIMATION/S */
@-webkit-keyframes breathing {
   0% {
     -webkit-transform: scale(0.9);
     transform: scale(0.9);
   }
 
   25% {
     -webkit-transform: scale(1);
     transform: scale(1);
   }
 
   60% {
     -webkit-transform: scale(0.9);
     transform: scale(0.9);
   }
 
   100% {
     -webkit-transform: scale(0.9);
     transform: scale(0.9);
   }
 }
 
 @keyframes breathing {
   0% {
     -webkit-transform: scale(0.95);
     -ms-transform: scale(0.95);
     transform: scale(0.95);
   }
 
   25% {
     -webkit-transform: scale(1);
     -ms-transform: scale(1);
     transform: scale(1);
   }
 
   60% {
     -webkit-transform: scale(0.95);
     -ms-transform: scale(0.95);
     transform: scale(0.95);
   }
 
   100% {
     -webkit-transform: scale(0.95);
     -ms-transform: scale(0.95);
     transform: scale(0.95);
   }
 }

.no-highlight {
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
}

  